*{box-sizing: border-box;}

html, body{padding: 0; margin: 0;}
.page_container{ margin: auto;}

.page_container h1{padding-top: 20px;}
.w-100{width: 100%;}
body{background: #bfa75d; font-family: Arial, Helvetica, sans-serif;}


/* header */

header {
    background-color:black;
    display: flex;
    justify-content: space-between;
    height: 75px;
    padding: 0px 15px;
    position: fixed;
    z-index: 100;
}
.header__logo1, .header__logo2 {height: 75px;padding: 5px;}
.header__logo1 img, .header__logo2 img {height: 100%;}
nav {display: flex;}
.header__tenda{display: flex; flex-wrap: wrap;}

/* padding: sopra destra sotto sinistra */

.header__tenda__li {height: 75px; padding: 26px 15px 15px 15px; color: #bfa75d; text-decoration: none; font-size: 20px;}
.header__tenda__li:hover {background-color: #222222; color: #bfa75d;}

.separatore{height: 75px;}

/* cover */
.cover_img{width: 100%; height: auto;}

/* testo */
.text{padding: 0px 30px;}
.text__titolo{text-align: center; font-size: 60px; margin-bottom: 0;}
h1, h2, .intro {text-align: center;}
h3 {margin-bottom: 0;}


/* cards */
.cards{max-width: 1200px; margin: 40px auto; display: flex; flex-wrap: wrap;}
.card{width: 30%; 
    margin:0 1.5%; 
    background: black;
    border: 10px solid #c9c9c9;
    border-radius: 8px;
    box-shadow: 10px 25px 30px black;
}
.card__image{width:100%; height: auto;}
.card__copy{padding:5px 20px; color: #bfa75d;}
.card__copy h3{margin-bottom:0}


/* banner */
.banner{
    background: #222222; 
    height: 350px;
    margin-top:50px; 
    display: flex; 
    flex-wrap: nowrap;
    border: 10px solid #838181;
    border-radius: 8px;
    box-shadow: 10px 25px 30px black;
}
.banner__image{width:30%; height:100%;}
.banner__copy{width:70%;height:100%;display: table; color: #c9c9c9;}
.banner__copy__text{display: table-cell; vertical-align: middle;padding:30px;}
.banner__copy__text h3{font-size: 36px;margin-bottom:0;}
.banner__copy__text h4{font-size: 22px;margin: 5px 0}


/* centro flex con sidebar */
.centro-flex {display: flex; flex-wrap: nowrap; align-items: stretch;}

.sidenav {width: 20%;padding: 5px; background: #222222;}
.sidenav ul {list-style-type: none;}
.sidenav li {padding: 5px 10px; color: #bfa75d;}
.sidenav li:hover {background: #bfa75d; color: black;}
.sidenav ul {padding-left: 0px;}
.sidenav a {text-decoration: none; color: black;}

main {width: 80%;padding: 10px;}

/* footer */
footer{background-color: black; text-align: center; margin-top: 20px; color: #bfa75d; padding: 30px;}




/* tablet */
@media (max-width: 998px){

}

/* telefono */
@media (max-width: 767px){
    /* header */
    .header__logo2{display: none;}

    /* Cards */
	.card{width: 90%; margin:5%; }

    /* Banner */
	.banner{height: 600px;}
	.banner__image,
	.banner__copy{width:100%;height:50%}

}
