*{box-sizing: border-box;}

html, body{padding: 0; margin: 0; height: 100%;}
.page_container{ margin: auto;}
.page_container h1{padding-top: 20px;}
.w-100{width: 100%;}
body{background-image: url(immagini/sfondo-quiz-oro.png); font-family: Arial, Helvetica, sans-serif;}

.img-res{width: 100%; height: auto;}
/* header */

header {
    background-color:black;
    display: flex;
    justify-content: space-between;
    height: 75px;
    padding: 0px 15px;
    position: fixed;
    z-index: 100;
}
.header__logo1, .header__logo2 {height: 75px;padding: 5px; width: 15%;}

.header__logo2{display: flex; justify-content: flex-end;}
.header__logo2__login{padding-right: 20px;}

.header__logo1 img, .header__logo2 img {height: 80%; margin-top: 10px;}
nav {display: flex; height: 40px; margin: auto;}
.header__tenda{display: flex; flex-wrap: wrap; margin-right: 20px; border-radius: 8px; background-color: #bfa75d;}

/* padding: sopra destra sotto sinistra */

.header__tenda__li {
    height: 100%;
    padding: 10px; 
    color: #222222; 
    text-decoration: none; 
    font-size: 20px; 
    width: 150px; 
    text-align: center;
    transition: all 0.3s;
}
.header__tenda__li__psdp {
    height: 100%;
    padding: 10px; 
    color: #222222; 
    text-decoration: none; 
    font-size: 20px; 
    width: 180px; 
    text-align: center;
    transition: all 0.3s;
}
.header__tenda__li:hover {background-color: #222222; color: #bfa75d; border-radius: 8px;}
.header__tenda__li__psdp:hover {background-color: #222222; color: #bfa75d; border-radius: 8px;}


.separatore{height: 50px;}

.separatore__border{height: 35px}
.border-bottom{border-bottom: 1px solid #bfa75d; padding-bottom: 65px;}
.border-bottom-storia{border-bottom: 1px solid #bfa75d; padding-bottom: 30px;}


/* cover */


.cover {width:100%; height:100%; position: relative;}
.cover_img{width: 100%; height: 100%; }
.cover__caption{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: white;}
.cover__filter{ background: #000; width:100%; height:100%; position: absolute; z-index: 0; opacity: 0.5; }
.cover__caption h1{font-size: 100px; padding: 0; margin: 0; margin-bottom: 10px;}
.cover__caption h2{font-size: 60px; margin: 0;}




/* testo */

.text__titolo{text-align: center; font-size: 60px; margin-bottom: 0; color: #bfa75d; padding: 0px; margin: 0px;}
h1, h2, .intro {text-align: center;}
h3 {margin-bottom: 0;}
.text__copy{
    max-width: 900px; 
    margin:40px auto; 
    background: #222222; 
    padding:20px 40px;
    position: relative; 
    z-index: 1;
    color: #c9c9c9;
    border-radius: 10px;
    border: 5px solid #c9c9c9 ;
}
.text__copy p{text-align: center;}
.align-center{text-align: center;}
.text__copy ul li p{text-align: unset;}

.verde{color: #9aeabc;}

.spaziatura_p{line-height: 1.5;}


.hidden-content {
    opacity: 0; /* Nascondi il contenuto */
    transition: opacity 0.5s ease, transform 0.5s ease;
    transform: translateY(-50px);
}
  
.visible {
    opacity: 1; /* Mostra il contenuto */
    transform: translateY(0); /* Riporta il contenuto nella sua posizione originale */
}

.titolo_storia{
    padding: 20px; 
    background: #222222; 
    color: #bfa75d; 
    width: 400px; 
    margin: 10px auto; 
    border-radius: 10px; 
    border: 5px solid #c9c9c9 ;
}



/* cards */
.cards{max-width: 1200px; margin: 40px auto; display: flex; flex-wrap: wrap;}
.card{
    width: 30%; 
    margin:0 1.5%; 
    background: black;
    border: 10px solid #c9c9c9;
    border-radius: 8px;
    box-shadow: 10px 25px 30px black;
    text-decoration: none;
    opacity: 0;
    transition: opacity 0.5s ease; /* Animazione di transizione */
}

.card:hover{transform: scale(1.01);}



.card a{text-decoration: none;}
.card__block__image{height: 65%; display: flex; align-items: center;}
.card__image{width:100%; height: auto;}

.card__block__image__lewa{height: 65%; display: flex; align-items: center;}
.card__copy__lewa{padding:5px 20px; color: #bfa75d; height: 35%;}
.card__copy__lewa p{color: white;}

.card__copy{padding:5px 20px; color: #bfa75d; height: 35%;}
.card__copy p{color: white;}
.card__copy h3 {margin-bottom:0; text-align: center;}
.card__copy h4 {text-align: center;}
.card--storia{
    width: 45%; 
    margin: 20px 1.5%; 
    background: black;
    border: 10px solid #c9c9c9;
    border-radius: 8px;
    box-shadow: 10px 25px 30px black;
    opacity: unset;
    transition: unset; 

}

.animated {
    opacity: 1;
}

/* login */
#tab_dati_personali{
	/* width: 500px; */
	text-align: left;
	margin: auto;
}
.tab_input{
    background-color: #222;
    color: #bfa75d;
	text-align: left;
	margin: auto;
    padding: 20px;
    border: 7px solid #c9c9c9;
    border-radius: 8px;
    box-shadow: 10px 25px 30px black;
    width: 700px;
    height: 300px;
}
.input_dati_personali{
	width: 300px;
}

label{
    height: 40px;
    font-size: 25px;
    margin-left: 80px;
}

input{
	font-family: 'Open Sans', Verdana, 'DejaVu Sans', Arial, sans-serif;
    margin-left: 35px;
    height: 30px;
    font-size: 20px;
}




/* footer */
.home-footer{background-image: url(immagini/sfondo-quiz.png); text-align: unset; margin-top: unset; color: unset; padding: unset;}
footer{background: black; text-align: center; color: #bfa75d; padding: 30px;}
.sviluppatori {height: 150px; display: flex; align-items: center;}
.sviluppatori__ogg{
    background-color: #222; 
    height: 50%; width: 30%; 
    margin: auto; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    border-radius: 8px;

}
.sviluppatori__ogg p{font-size: 20px; color: #bfa75d; font-weight: bold; text-align: center;}
.schede_sv{
    max-width: 1200px; 
    margin: 40px auto; 
    margin-bottom: 0; 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-around;
    height: 350px;}
.scheda{
    width: 43%; 
    background: #bfa75d;
    border-radius: 15px;
    box-shadow: 10px 25px 30px black;
    height: 350px;
    display: flex;
}
.flex_center{display: flex; align-items: center; width: 45%; justify-content: center;}
.scheda__image{width: 98%; height: auto;}
.scheda__copy{
    width: 65%;
    padding:5px 20px; 
    color: black; 
    height: 100%; 
    display: flex; 
    flex-direction: column;
    justify-content: center;
}
.scheda__copy h3{font-weight: bold; color: #222;}
.scheda__copy p{
    font-weight: lighter;
    font-size: 18px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.wa_ig_link{display: inline-block; width: 40px; height: 40px;}

/* banner */
.banner {
    display: flex; 
    height: 400px;
    flex-wrap: nowrap; 
    margin: 50px 5px; 
    background: #222222;
    border: 10px solid #838181;
    border-radius: 8px;
    box-shadow: 10px 25px 30px black;
}
.banner:hover{transform: scale(1.01);}
.banner__img {display: block; height: 100%; width: 30%;}
.banner__img img {height: 100%; width: 100%; object-fit: cover;}

.banner__copy {width: 70%; display: flex; align-items: center; padding: 10px; color: #c9c9c9;}
.banner__copy__text{padding:30px;}
.banner__copy__text h3{font-size: 44px;margin-bottom:0; color: #bfa75d;}
.banner__copy__text h4{font-size: 27px;margin: 5px 0}
.banner__copy__text h5{font-size: 18px;margin-top: 0;}

/* centro flex con sidebar */
.centro-flex {display: flex; flex-wrap: nowrap; align-items: stretch;}

.sidenav {width: 15%;padding: 5px; background: #222222;}
.sidenav__titolo{position: fixed; padding: 10px;}
.sidenav ul {list-style-type: none; position: fixed; width: 15%}
.sidenav li {padding: 5px 0px; margin: 0 60px ;color: #bfa75d; text-align: center;}
.sidenav li:hover {background: #bfa75d; color: black;}
.sidenav ul {padding-left: 0px;}
.sidenav a {text-decoration: none; color: black;}
.sidenav h2{color: #bfa75d; text-align: center; width: 15%;}

main {width: 85%; padding: 10px;}

/* vale solo per la pagina del quiz */
:root[url="quiz.html"] {margin: 0; padding: 0; font-family: 'Poppins', sans-serif;}

.quiz__body{background-image: url(immagini/sfondo-quiz-222.png);}
.quiz-background-gold{background-image: url(immagini/sfondo-quiz-oro.png);}
.quiz-background-222{background-image: url(immagini/sfondo-quiz-222.png);}
.app{background-color: black; width: 90%; max-width: 600px; border-radius: 10px; padding: 30px; margin: 100px auto 0;}
.app h1{font-size: 25px; color: #bfa75d; font-weight: 600; border-bottom: 1px solid #333; padding-bottom: 30px;}
.quiz{padding: 20px 0;}

.quiz h2{font-size: 18px; color: #bfa75d; font-weight: 600;}
.btn{
    background-color: #fff; 
    color: #222; 
    font-weight: 500; 
    width: 100%; 
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}
.btn:hover.btn:hover:not([disabled]){background: #bfa75d; color: black;}
.btn:disabled{cursor: no-drop;}

.simply__flex{display: flex;}

#next__btn {
    background: #bfa75d;
    color: black;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}
#psdp__btn {
    background: #bfa75d;
    color: black;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}
.noDecoration{text-decoration: none; color: black;}

.correct{
    background: #9aeabc;
}
.incorrect{
    background: #ff9393;
}






/* tablet */
@media (min-width: 767px) and (max-width: 1024px){
    /* cards */
    .cards{justify-content: center;}
    .card{width: 45%; margin-bottom: 30px;}
    .card__block__image__lewa{height: 50%;}
    .card__copy__lewa{height: 45%;}

    /* banner */
    .banner__img, .banner__copy{width: 50%;}
    .sidenav{display: none;}
    main {width: 100%; padding: 20px;}
    .banner__copy{justify-content: center;}
    .banner__copy__text{text-align: center;}
    .banner__copy__text p{display: none;}

    /* cover */
    .cover__caption h1 {
        font-size: 60px; 
    }
    .cover__caption h2 {
        font-size: 40px; 
    }
}

/* telefono */
@media (max-width: 767px){

    /* header */
    header{padding: 0;}
    .header__logo1{transform: scale(0.9);}
    .header__logo2{display: none;}
    nav{margin: auto auto auto 0;}
    .header__tenda{transform: scale(0.7); margin-right: -10px; width: 100px;}
    .header__tenda__li {transform: scale(0.9); padding: 3px;}
    
    /* Cover */
	.cover{height:100%;}
    .cover__caption {
        text-align: center; 
        width: 80%; 
        left: 50%; 
        transform: translateX(-50%); 
        top: 25%;
    }
    .cover__caption h1 {
        font-size: 40px; 
    }
    .cover__caption h2 {
        font-size: 20px; 
    }


    /* Cards */
	.card{width: 90%; margin:5%;}

    /* Banner */
    main {width: 100%; padding: 20px;}
	.sidenav {display: none;}
    .banner {flex-wrap: wrap; margin-bottom: 20px;}
    .banner__img {width: 100%;}
    .banner__copy {width: 100%;}
    .banner__copy__text p{display: none;}

    #next__btn {
        background: #bfa75d;
        color: black;
        font-weight: 500;
        width: 120px;
        border: 0;
        padding: 10px;
        margin: 20px auto 0;
        border-radius: 4px;
        cursor: pointer;
        display: none;
    }
    #psdp__btn {width: 120px;}
        

    

    .card__block__image__lewa{height: 50%;}
    .card__copy__lewa{height: 45%;}

    /* text */
    .titolo_storia{width: 350px}
    .text__titolo{transform: scale(0.7);}
    .text__copy{margin: 0; transform: scale(0.95);}

    /* footer */
    .sviluppatori__ogg p{transform: scale(0.6);}
    .schede_sv{height: 760px; flex-direction: column;}
    .scheda{width: 80%; margin: 0 auto 30px auto;}

    .card{opacity: unset;
        transition:unset; /* Animazione di transizione */}
}
